hcloud_token           = "hc_XXXXXXXXXXXXXXXXXXXXXXXX"
cloudflare_api_token   = "cf_XXXXXXXXXXXXXXXXXXXXXXXX"
cloudflare_zone_id     = "d3ae0db3110ef27e5a1bbc7d5186dedc"
cloudflare_account_id  = "192efbef8db91cab6318384864497a66"
ssh_public_key         = "ssh-ed25519 AAAA... kiku@kikuai.dev"
server_name            = "kiku-prod"
server_type            = "cx22"
location               = "hel1"
volume_size_gb         = 40

